extends layout

block content


     h1.well The Magical Show Page

       
     h2.well= artist.artist

      .col-md-6
         for album in albums
          h5.well
             a(href='/'+ album._id +'/addSongs')= album.album

             for song in album.songs
                p= song.song            

      
         