extends layout

block content
 if(username)
  button(type='submit')
      a(href='/new') New Artist
    button(type="submit") 
      a(href="/songs") Songs

    table.table.table-striped
      thead
         tr
           th Songs
           th Album
           th Artist
           

      tbody
        for song in songs
          tr
            td
              a(href='/'+song._id+'/show')= song.song
            td
            td 
      